🔸 styles.css

/* Reset de alguns estilos padrão */
body,
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
    /* Cor de fundo geral */
    color: #333;
    /* Cor do texto */
}

header {
    background-color: #510c68;
    /* Rosa mais claro para o cabeçalho */
    padding: 30px;
    text-align: center;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #510c68;
    /* Roxo para o título principal */
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    /* Roxo para os links */
}

main {
    padding: 20px;
    background-color: #f8f7fc;
    /* Cor de fundo para as seções */
}

section {
    margin-bottom: 30px;
    background-color: #ffffff;
    /* Fundo branco para as seções */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0000001a;
    /* Sombra suave */
}

footer {
    background-color: #510c68;
    /* Roxo mais escuro para o rodapé */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.banner {
    background-image: url("../img/luiza.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: black;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}